VITE_API_BASE_URL=http://localhost:5001/api


# form script 


<script
    src="http://localhost:5001/api/embed/forms/6ec5752239905e2c24b453360660be300ba7/script.js"
    data-form-selector="#contactForm"
    data-crm-key="6ec5752239905e2c24b453360660be300ba7"
    data-continue-submit="false"
    data-reset-on-success="true"
    data-show-alert="true"
    defer
  ></script>